body {
    text-align: center;
    background-color: hsl(274, 88%, 16%);
    font-family: Arial, Helvetica, sans-serif; 
}

img.flor-gif1{
    width: 305px;
    height: auto;
}

img.animated-gif1,
img.animated-gif2,
img.animated-gif3{
    width: 450px;
    height: auto;
}

img.flor-gif2{
    width: 305px;
    height: auto;
}

.game-style{
    font-size: x-large;
    color: hsl(120, 51%, 48%);
}

.gen-style{
    font-size: x-large;
    color: hsl(202, 98%, 50%);
}

.link-style{
    font-size: x-large;
    color: hsl(235, 86%, 65%);
}

.link-style1{
    font-size: x-large;
    color: hsl(0, 100%, 50%);
}

.link-style2{
    font-size: x-large;
    color: hsl(212, 16%, 79%);
}

h1,
h2,
h3{
    color: hsl(51, 74%, 64%);
}
