body {
    text-align: left;
    background-color: hsl(274, 88%, 16%);
    font-family: Arial, Helvetica, sans-serif; 
}

.slope
{
    width: auto;
    height: auto;
}

h3{
    color : hsl(51, 74%, 64%)
}

h4{
    color : hsl(51, 74%, 64%)
}
